<a href="https://colab.research.google.com/github/Bmustikaly1/praktikumDDP/blob/main/DDP_Praktikum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [2]:
dosen ="The Legend of Rojulman"
mahasiswa = 700
ipk = 3.90
kelas = 15j
sistem_informasi = True
nama_mahasiswa = ["ilham, rusmanto, rio, lukman"]
namaDosen = ("yahya, misna, april")

print(dosen)
print(mahasiswa)
print(ipk)
print(kelas)
print(sistem_informasi)
print(nama_mahasiswa)
print(namaDosen)

The Legend of Rojulman
700
3.9
15j
True
['ilham, rusmanto, rio, lukman']
yahya, misna, april

In [4]:
dosen ="The Legend of Rojulman"
mahasiswa = 700
ipk = 3.90
kelas = 15j
sistem_informasi = True
nama_mahasiswa = ["ilham", "rusmanto", "rio", "lukman"]
namaDosen = ("yahya", "misna", "april")

print(type(dosen))
print(type(mahasiswa))
print(type(ipk))
print(type(kelas))
print(type(sistem_informasi))
print(type(nama_mahasiswa))
print(type(namaDosen))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'tuple'>

In [7]:
phi = 3.14
jari_jari = 10
luas = phi * jari_jari * jari_jari

print(luas)
print(type(luas))

314.0
<class 'float'>

In [8]:
phi = 3.14
jari2 = 12
keliling = 2 * phi * jari2

print(keliling)
print(type(keliling))

75.36
<class 'float'>

In [10]:
hutang = 150000
bayar = 2000
sisaHutang = hutang - bayar

print("Sisa hutang anda adalah",sisaHutang)

Sisa hutang anda adalah 148000

In [16]:
bilangan1 = 8.5
bilangan2 = 2
hasilPangkat = bilangan1 ** bilangan2

print("Hasil pangkat dari",bilangan1,"dan",bilangan2,"adalah",hasilPangkat)
print(type(hasilPangkat))

Hasil pangkat dari 8.5 dan 2 adalah 72.25
<class 'float'>

In [18]:
panjang = input('Masukkan nilai panjangnya :')
lebar = input("Masukkan nilai lebarnya :")
luas = int(panjang) * int(lebar)

print(luas)
print(type(luas))

Masukkan nilai panjangnya :20
Masukkan nilai lebarnya :30
600
<class 'int'>